* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.services {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    width: 300px;
}

.services h4,
p {
    margin: 10px;
}

.services img {
    width: 100%;
    height: 250px;
    display: flex;
    flex-shrink: calc(2);
}

@media screen and (min-width: 900px) {
    .service-container {
        flex-direction: row;
    }
}

.services:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
